
<% if current_user.id == @user.id %>
<h1> Your Wall </h1>
<%= link_to 'Edit User', edit_user_path(@user) %>
<%= link_to 'Delete User', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
<h1><%= @user.name %>'s Wall </h1>
<h4> Add a wallpost: </h4>

<%= form_with(model: [ @user, @user.wallposts.build ], local: true) do |form| %>
  <%= form.label :message %>
  <%= form.text_field :content %>

  <%= form.submit "Submit" %>
<% end %>
<% end %>
<table>

  <% @wallpost.select(&:persisted?).reverse.each do |wpost| %>
    <tr>
      <td><b><%= wpost.poster %> </b>

      <%= wpost.content %>
      <%= time_ago_in_words(wpost.created_at) %>
      <% if (wpost.poster == current_user.name) %>
        <%= link_to 'Edit', edit_user_wallpost_path(@user, wpost.id) %> </td>
      <% end %>

      <% if (wpost.poster == current_user.name) || (wpost.user_id == current_user.id) %>
        <td><%= link_to 'Delete', [wpost.user, wpost],
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>     
      <% end %>

    </tr>
    <% wpost.wallpostcomments.select(&:persisted?).each do |wpostcomment| %>
      <tr>
        <td><b><%= wpostcomment.commenter %> </b>
        <%= wpostcomment.content %> </td>
      </tr>
      
    <% end %>
    <tr>
    <td><%= form_for [wpost.user, wpost, wpost.wallpostcomments.build], url: { controller: :wallpostcomments, action: :create, user_id: wpost.user.id, wallpost_id: wpost.id }, method: :create do |form| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= form.text_field :content %> 
      <%= form.submit 'Add comment'%> </td>
    <% end %>
    </tr>
  <% end %>
  
</table>

  
<%= link_to 'See Posts', user_posts_path(@user) %>

