<div class="container"> 
<div class="row">
<% if current_user.id == @user.id %>
<div class="col-8">
<br> <br> <br>
<h1> My Wall </h1>
<h3> See who's left their mark. </h3> <br>
<p> If you want to post to general feed, go to <%= link_to 'Posts', user_posts_path(@user) %>.</p> <br>

<%= form_with(model: [ @user, @user.wallposts.build ], local: true, class: "form-group") do |form| %>
  <%= form.label :message, "New wallpost:" %>
  <br>
  <%= form.text_area :content %>
  <br> <br>
  <%= form.submit "Submit", class: "btn btn-success" %>
<% end %>

<% else %>
<h1><%= @user.name %>'s Wall </h1>

<h4> Add a wallpost: </h4>

<%= render 'wallposts/new_form' %>

<% end %><br>
<%= link_to 'See Posts', user_posts_path(@user) %>
</div>
<div class= "col-4">
<br> <br> <br>
<% @wallpost.select(&:persisted?).reverse.each do |wpost| %>

    <td><%= render 'wallposts/display_posts', wpost: wpost %>
    <% if wpost.likes != 0 %>
        <%= pluralize(wpost.likes, 'like') %> 
    <% end %>
    <%= render 'wallposts/likes_button', wpost: wpost %> </td>

  <ul>
  <% wpost.wallpostcomments.select(&:persisted?).each do |wpostcomment| %>

    <%= render 'wallpostcomments/display_comments', wpostcomment: wpostcomment %>

  <% end %>
  </ul>

  <%= render 'wallpostcomments/new_comment', wpost: wpost %> <br><br>

<% end %>



</div>
</div>
</div>