<b><%= wpost.poster %>
(<%= time_ago_in_words(wpost.created_at) %> ago):</b> <br>
<td><%= wpost.content %>

<% if (wpost.poster == current_user.name) %>
  <%= link_to 'Edit', edit_user_wallpost_path(@user, wpost.id) %> </td>
<% end %>

<% if (wpost.poster == current_user.name) || (wpost.user_id == current_user.id) %>
  <%= link_to 'Delete', [wpost.user, wpost],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
<% end %>
