<%= form_with(model: [@user, @user.posts.build], local: true) do |form| %>

 <% if @post.errors.any? %>
 <div id="error_explanation">
   <h2>
     <%= pluralize(@post.errors.count, "error") %> Post cannot be saved:
   </h2>
   <ul>
     <% @post.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
   </ul>
 </div>
<% end %>

<%= form.label :message %> <br>
<%= form.text_area :message %> <br><br>

<%= form.submit "Submit", class: 'btn btn-success' %>
<% end %>
