<br><br>
<h1>All Posts</h1>
<%= link_to 'New post', new_user_post_path(@user) %> <br><br><br>


  <% @posts.reverse.each do |post| %>
    
      <b><%= post.user.name %>  </b>
      (<%= time_ago_in_words(post.created_at) %> ago):
     <br>
     <%= post.message %> <br>
     <div class="form-inline">
      <% if post.likes != 0 %>
       <%= pluralize(post.likes, 'like') %> 
      <% end %>
     <div class="group">
     <%= render 'likes_button', post: post %>
     </div>
     </div> 
     <%= link_to 'Show', user_post_path(@user, post.id)%>
      <% if post.user.id == current_user.id %>
       <%= link_to 'Delete', [post.user, post],
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
      <% end %>
    <br><br><br>
  <% end %>


<!--<h2>Your Posts</h2>

<% @user.posts.reverse.each do |post| %>
  <p>
    <strong>Post:</strong>
  </p>
  <strong>Post ID:</strong>
    <%= post.id %><br>
 
     <%= post.message %>
     <%= link_to 'Show', user_post_path(@user, post.id) %>
     <%= link_to 'Delete', [post.user, post],
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
   

<% end %>-->
