<br><br><br>
<p>
<h1> <%= @post.user.name %>'s Post: </h1>
<br><br>
<p style="white-space: pre-line"><%= @post.message %></p>
<br>
<p><div class="created_by">
Created by <b><%= @post.user.name %></b> on <%= @post.created_at.in_time_zone("London").strftime('%B %d %Y, %l:%M%P') %> </p>
</div>
<br>
<% if @post.user.id == current_user.id %>
  <%= link_to 'Update', edit_user_post_path(@user) %>
  <%= link_to 'Delete', [@post.user, @post],
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
<% end %>
</p>
<br>

<% @post.postcomments.select(&:persisted?).each do |pc| %>
  <li><b><%= pc.commenter %></b>
  <i>(<%= time_ago_in_words(pc.created_at) %> ago): </i>
  <%= pc.content %>
  <% if pc.commenter == current_user.name %>
    <%= link_to 'Delete comment', [@user, pc.post, pc],
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
  <% end %></li>
  <br>
<% end %>

<%= form_for [@post, @post.postcomments.build], url: { controller: :postcomments, action: :create, post_id: @post.id }, method: :create do |form| %>
  <%= form.text_field :content %>
  <%= form.submit 'Add comment', class: 'btn btn-success'%>
<% end %>

<br> <br>
</p>

<%= link_to 'Back to all posts', user_posts_path %>
