<nav class='navbar mb-2'>
  <div class='container-fluid'>
    <div class='navbar-header'>
    <% if logged_in? %>
      <%= link_to user_posts_path(current_user) do %>
      <%=image_tag("acebook_logo.png", size: "210x70")%>
        <% end %>
      <% else %>
      <%=image_tag("acebook_logo.png", size: "210x70")%>
    <% end %>
    </div>
    <% if logged_in? %>
      <ul class='nav navbar-right '>
        <li><%= link_to 'Account', edit_user_path(current_user), class: 'mx-2'%></li>
        <li><%= link_to 'My Wall', user_path(current_user), class: 'mx-2'%></li>
        <li><%= link_to 'Log out', logout_path, class: 'mx-2'%></li>
      </ul>
    <% else %>
      <ul class='nav navbar-right '>
        <li><%# link_to 'Log in', login_path, class: 'mx-2' %></li>
        <li><%# link_to 'Sign up', new_user_path, class: 'mx-2' %></li>
      </ul>
    <% end %>
  </div>
</nav>
