<nav class='navbar mb-2'>
  <div class='container-fluid'>
    <div class='navbar-header'>
    <% if logged_in? %>
      <%= link_to user_path(current_user) do %>
      <%=image_tag("acebook_logo.png", size: "210x70")%>
        <% end %>
      <% else %>
      <%=image_tag("acebook_logo.png", size: "210x70")%>
    <% end %>
    </div>
   
   <% if logged_in? %>
    <%= form_tag(search_path, :method => "search",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Enter user's name", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "Search", :class => 'btn btn-info',:id => 'search_user'%>  
      
    </div>  
  </div>  
 <% end %>
<% end %>
    <% if logged_in? %>
      <ul class='nav navbar-right '>
        <li><%= link_to 'Edit Account', edit_user_path(current_user), class: 'mx-2'%></li>
        <li><%= link_to 'Delete Account', user_path(current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'mx-2'%></li>
        <li><%= link_to 'My Wall', user_path(current_user), class: 'mx-2'%></li>
        <li><%= link_to 'Log out', logout_path, class: 'mx-2'%></li>
      </ul>
    <% else %>
      <ul class='nav navbar-right '>
        <li><%# link_to 'Log in', login_path, class: 'mx-2' %></li>
        <li><%# link_to 'Sign up', new_user_path, class: 'mx-2' %></li>
      </ul>
    <% end %>
  </div>
</nav>
